# Assignment on Store_sales dataset

**Load the Dataset**

In [3]:
import pandas as pd
data=pd.read_csv("C://Users//Proxy1//Desktop//6682-COE//store_sales.csv")

**Calculate the total sales for each store across all months.**

In [31]:
data['Total_Sales'] = data.iloc[:, 2:14].sum(axis=1)
print(data[['store_id', 'Total_Sales']])

   store_id  Total_Sales
0       S_1          178
1       S_2          174
2       S_3          181
3       S_4          135
4       S_5          159
..      ...          ...
95     S_96          185
96     S_97          154
97     S_98          168
98     S_99          173
99    S_100          180

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [9]:
avg_monthly_sales = data.iloc[:, 2:].agg('mean')
print(avg_monthly_sales)

Jan             14.46
Feb             15.09
Mar             14.56
Apr             14.57
May             13.56
Jun             13.80
July            14.38
Aug             15.81
Sep             14.91
Oct             14.10
Nov             15.31
Dec             13.57
Total_Sales    174.12
dtype: float64

**Identify the store with the highest total sales.**

In [12]:
highest_sales_store = data[['store_id', 'Total_Sales']].max()
print(highest_sales_store)

store_id       S_99
Total_Sales     214
dtype: object

**Calculate the total sales for each city.**

In [15]:
city_sales = data.groupby('city')['Total_Sales'].sum()
print(city_sales)

city
Arizona       3951
California    7522
Texas         5939
Name: Total_Sales, dtype: int64

**List stores with total sales greater than 200**

In [18]:
high_sales_stores = data[data['Total_Sales'] > 200][['store_id', 'Total_Sales']]
print(high_sales_stores)

   store_id  Total_Sales
37     S_38          207
39     S_40          204
50     S_51          210
61     S_62          214
69     S_70          206
72     S_73          213
77     S_78          211
85     S_86          214
86     S_87          203
92     S_93          204

**Which month had the highest average sales across all stores?**

In [21]:
avg_monthly_sales = data.iloc[:, 2:].agg('mean')
high_avg_monthly_sales = avg_monthly_sales.max()
print(high_avg_monthly_sales)

174.12

**Which city generated the most revenue?**

In [25]:
most_revenue_city = city_sales.idxmax()
print(most_revenue_city)

California